node_modules/
.pnp
.pnp.js

dist/
build/
*.tsbuildinfo

.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.*
!**/.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

coverage/
.nyc_output/
scratch/
tmp/
temp/
